<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{ISO8601} [%thread] %-5level %logger{30} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.rtbhouse" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.rtbhouse" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- We want only warning/error priority logs from outside packages. -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>